.aside {
  background-color: #f9f9f9;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}

.mainTabs {
  display: flex;
  gap: 22px;
  background-color: white;
  border-bottom: 1px solid #F5F5F7;
  padding: 0 20px;
}

.mainTab {
  color: #8E92BC;
  font-size: 11px;
  line-height: 1.5;
  padding: 0 10px 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    color: #141522;
  }

  &.isActive {
    color: #141522;
    border-bottom-color: #546FFF;
  }
}